:host {
    h3::after {
        content: '';
        display: block;
        width: 60%;
        height: 4px;
        background: var(--primary);
        margin-top: 0.5rem;
        border-radius: 2px;
    }

    h4 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5rem;
    }

    .d-grid {
        transform: translateX(-50%);
        opacity: 0;
        transition: .5s;
    }
    .d-grid.is-visible {
        transform: translateX(0%);
        opacity: 1;
    }

    .card {
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        transition: .3s;
    }
    .card:hover {
        transform: translateY(-0.25rem);
    }

    .card.cat-dev {
        border-left: 3px solid var(--primary);
    } 
    .card.cat-dev:hover {
        border: 1px solid var(--primary);
        border-left: 3px solid var(--primary);
        box-shadow: 0px 0px 4px var(--primary);
    }
    
    .card.cat-db {
        border-left: 3px solid var(--text-gray);
    }
    .card.cat-db:hover {
        border: 1px solid var(--text-gray);
        border-left: 3px solid var(--text-gray);
        box-shadow: 0px 0px 4px var(--text-gray);
    }

    .card.cat-cloud {
        border-left: 3px solid var(--orange);
    }
    .card.cat-cloud:hover {
        border: 1px solid var(--orange);
        border-left: 3px solid var(--orange);
        box-shadow: 0px 0px 4px var(--orange);
    }

    .card.cat-game {
        border-left: 3px solid var(--primary-purple);
    }
    .card.cat-game:hover {
        border: 1px solid var(--primary-purple);
        border-left: 3px solid var(--primary-purple);
        box-shadow: 0px 0px 4px var(--primary-purple);
    }

    .card.cat-elec {
        border-left: 3px solid var(--accent);
    }
    .card.cat-elec:hover {
        border: 1px solid var(--accent);
        border-left: 3px solid var(--accent);
        box-shadow: 0px 0px 4px var(--accent);
    }

    .card.cat-others {
        border-left: 3px solid var(--red);
    }
    .card.cat-others:hover {
        border: 1px solid var(--red);
        border-left: 3px solid var(--red);
        box-shadow: 0px 0px 4px var(--red);
    }

    .card-header {
        border-bottom: none;
    }

    ul {
        margin: 0;
    }

    .gradient-start {
        width: 2rem;
        height: stretch;
        background: linear-gradient(90deg, var(--secondary), transparent);
        position: absolute;
        z-index: 1;
    }
}