<div class="container">
    <div>
        <h3 class="display-6 fw-bold mb-3 text-light primary-font mt-5 d-inline-block">
            Laboratório Criativo
        </h3>
    </div>
    <div class="py-2">
        <p class="fs-5 text-light mb-5 mt-2">
            Onde a engenharia de software encontra o hardware e a criatividade.
        </p>
        <div class="row row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col d-grid">
                <a class="card p-5 text-center decoration-none" href="/eletronics">
                    <div class="text-light mb-2">
                        <i class="fa-solid fa-gamepad fs-3"></i>
                    </div>
                    <h4>Game Development</h4>
                    <p class="text-light">
                        Uso a Unity para dar vida a ideias.
                    </p>
                    <p class="text-light">
                        O desenvolvimento de jogos aprimora minha lógica de otimização 
                        e matemática vetorial, habilidades que trago de volta para o desenvolvimento web.
                    </p>
                </a>
            </div>
            <div class="col  d-grid">
                <div class="card p-5 text-center">
                    <div class="text-light mb-2">
                        <i class="fa-solid fa-microchip fs-3"></i>
                    </div>
                    <h4>IoT & Eletrônica</h4>
                    <p class="text-light">
                        Prototipagem com ESP32 e Arduino.
                    </p>
                    <p class="text-light">
                        Criar pontes entre o software e o mundo físico 
                        (como sensores de automação residencial) é um dos meus passatempos favoritos.
                    </p>
                </div>
            </div>
            <div class="col d-grid">
                <div class="card p-5 text-center">
                    <div class="text-light mb-2">
                        <i class="fa-brands fa-linux fs-3"></i>
                    </div>
                    <h4>Home Lab</h4>
                    <p class="text-light">
                        Entusiasta de Self-Hosting.
                    </p>
                    <p class="text-light">
                        Mantenho servidores rodando Ubuntu Server e contêineres Docker 
                        para gerenciar aplicações pessoais e ambientes de teste.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>